@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-farmhouse: var(--font-farmhouse);
  --font-irish-grover: var(--font-irish-grover);
  --font-fell: var(--font-fell);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    /* font-family: var(--font-fell); */
    font-weight: 700;
}

model-viewer::part(default-progress-bar),
model-viewer::part(gesture-prompt) {
  display: none;
}